

::-webkit-scrollbar {
    width: .7rem;
  }

::-webkit-scrollbar-track {
    background: #34495e;
  }

::-webkit-scrollbar-thumb {
    background: #2980b9;
  }

body{

    background-image: url(../assets/material.jpg);

    background-size: cover;

    overflow: hidden;

}


#head{

    display: flex;

    justify-content: space-between;

    padding: 2rem;


}

#menu{

    display: flex;

    align-items: center;
}

.menu{

    color: #fafafa;

    font-size: 3rem;

    background-color: #64307A;

    padding: 1rem;

    cursor: pointer;

    border-radius: 12px  0 0 12px;

}

.menu:hover{

    color:  #64307A;

    background-color: #fafafa;

    transition: color, background-color .1s ease-in;

}

.menu:active{

    color: #fafafa;

    background-color: #64307A;

    transition: color, background-color .1s ease-in;

}

#title{

    font-family: Arial, Helvetica, sans-serif;

display: flex;
justify-content: center;
align-items: center;

padding-left: 1rem;
padding-right: 1rem;

height: 5rem;

background-color: #8e44ad;
color: #fafafa;

border-radius:  0 12px 12px 0;

}

.button{

    font-size: 3rem;
    padding: 1rem;

    margin-left: 1rem;

    border-radius: 12cm;

    color: #fafafa;

    cursor: pointer;

}

.button:hover{

    padding:  1.05rem;

    transition: padding .1s ease-in;


}

.button:active{

    padding: 0.95rem;

    transition: padding .1s ease-in;


}

#videos{

   background-color: #3498db;

    margin: 0 2rem 0 2rem;

    height: 50rem;

    padding: 2rem;

    overflow-y: scroll;

    border-radius: 12px;

}

#video{

    display: flex;

    text-align: center;

    align-items: center;

    justify-content: space-between;

    background-color: #fafafa;

    height: 7rem;

    width: 100%;

    margin-bottom: 2rem;

    border-radius: 25px;

    box-shadow: -4px 4px 20px 0px #34495e;

    overflow-x: hidden;
}

.thumb{

  height: 7rem;

  width: 10rem;

  z-index: 1;

}

#thumbnail{

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: #34495e;

    border-right: solid .2px #34495e;

    border-radius: 25px 0 0 25px;

    height: 7rem;

    width: 10rem;

    cursor: pointer;

    font-size: 4rem;

    color: rgba(0, 0, 0,0);

}

#thumbnail:hover{

    opacity: 0.5;

    color: white;

    transition: opacity, color .1s ease-in;


}

#thumbnail:active{

    opacity: 1;

    background-color: white;

    color: #34495e;

    transition: opacity, color, background-color .1s ease-in;


}

/* #info{

    display: flex;

    text-align: center;

    align-items: center;

} */

#video-title,.bar,#file-type,#storage,#length,#date{

    margin:0 1rem 0 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: #34495e;

}

#video-title{

    font-size: 2.1rem;

}

#storage{

margin-top: 1rem;

}

#play,#close{


    color: #34495e;

    font-size: 4rem;

    cursor: pointer;

}

#close{

margin-right: 1rem;

}

#play:hover,#close:hover{

    color: #3498db;

    transition: color .1s ease-in;

}

#play:active,#close:active{

    color: white;

    transition: color .1s ease-in;

}

#ctrl{
  display: flex;
}

/* ------------------------------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    transition: background-color 1s ease-in;
  }
  
  /* Modal Content/Box */
  .modal-content {

   
    background-color: #3498db;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 12px;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  form{

    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  /* The Close Button */
  .close {
    color: #fafafa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #2980b9;
    text-decoration: none;
    cursor: pointer;
  }

 .submit{

    border: none;

    border-radius: 12px;

    font-family: Arial, Helvetica, sans-serif;

    font-weight: bold;

    background-color: #fafafa;

    color: #34495e;
    padding: 5px 8px;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin-left: 2rem;

  }

  .file:before:hover{

    background-color: #2980b9;
    color:#fafafa;
    transition: color,background-color .1s ease-in;

}
  
  .submit:hover{

    background-color: #2980b9;
    color:#fafafa;
    transition: color,background-color .1s ease-in;

}


  .file::-webkit-file-upload-button {
    visibility: hidden;
  }

  .file{

    color: transparent;

    outline: none;

  }

  .file:before {
    content: attr(data-before);
    display: inline-block;
    background-color: transparent;
    border-radius: 12px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fafafa;
    padding: 5px 8px;
  }

  /* -------------------------------------------- */

  .hiddenVideoPlayer{

    display: none;

  }

  .videoPlayer{

    display: block;

    margin-bottom: 3rem;

    outline: none;

    background-color: #34495e;

  }

  #block{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

  }

  @media screen and (max-width: 800px){
    body{
      overflow: initial;
    }
    #head{
      flex-direction: column;
      justify-content: space-around;
      height: 35vh;
      align-items: center;
    }
    #video{
      flex-direction: column;
      height: 75vh;
    }
    #thumbnail{
      width: 100%;
      border-radius: 0;
    }
    .bar{
      display:none;
    }
    #ctrl{
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 1rem;
    }
    .videoPlayer {
      width: 100%;
      height: auto;
    }
  }